target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts3-cache
*.log
*.yml

.idea
*.iws
*.iml
*.ipr

/nbproject/private
/nbbuild/
/dist/
/nbdist/
